.team-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    text-align: center;

    @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
    }
    h2 {
        margin-bottom: 10px;
        margin-top: 15px;
    }
    h3 {
        margin-top: 0;
    }
}
