footer {
    background-color: #395193;
    color: #fff;
    p {
        color: white;
    }
}

.footer-content {
    padding: 25px 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1300px; 
    margin: 0 auto;

    @media screen and (max-width: 695px) {
        flex-direction: column;
        .social-icons-wrap {
            margin-top: 25px;
        }
    }

    .social-icons-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;

        @media screen and (max-width: 695px) {
            align-items: flex-start;   
        }

        p {
            margin: 15px 0 0;
            color: white;
        }

    }

}

footer {
    padding: 25px 10px;
    a {
        color: #fff;
        text-decoration: none;
    }
    a:hover {
        color: lighten(#395193,35%);
    }

    .social-icons-wrap a {
        color: transparent;
        height: 35px !important;
        width: auto;
        max-width: 50px;
        display: inline-block;
        padding: 0 25px;
        &:first-of-type {padding-left: 0;}
        &:last-of-type {padding-left: 0;}
    }
    .instagram {
        background-image: url("../../images/social/instagram.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
    }
    .facebook {
        background-image: url("../../images/social/facebook.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
    }
    .youtube {
        background-image: url("../../images/social/youtube.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
    }

    p {
        margin: 0;
        font-size: 15px;
    }
}
