footer {
    background-color: #395193;
    color: #fff;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    right: 50%;
    width: 100vw;
    p {
        color: white;
    }
}
.preferred-contact-method {
    height: 46px;
}

.footer-content {
    padding: 25px 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1300px; 
    margin: 0 auto;

    @media screen and (max-width: 695px) {
        flex-direction: column;
        .social-icons-wrap {
            margin-top: 25px;
        }
    }

    .social-icons-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;

        @media screen and (max-width: 695px) {
            align-items: flex-start;   
        }

        p {
            margin: 15px 0 0;
            color: white;
        }

    }

}

footer {
    padding: 25px 10px;
    a {
        color: #fff;
        text-decoration: none;
    }
    a:hover {
        color: lighten(#395193,35%);
    }

    .social-icons {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 20px;
    }

    p {
        margin: 0;
        font-size: 15px;
    }
}
