.contact {
    .footer-form-wrap {
        display: none;
    }
}

form.contact, .footer-form {
    display: grid;
    // grid-template-columns: 1fr 1fr;

    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    @media screen and (max-width:820px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width:581px) {
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }

    padding: 0 10px;

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
    }

    label {
        display: flex;
        flex-direction: column;
        // width: 95%;
    }

    p {
        margin: .25rem 0;
    }

    input, select, textarea {
        padding: 15px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: none;
        font-size: 16px;
        &::placeholder {
        }
    }

    button[type=submit] {
        background-color: #04743C;
        padding: 15px 20px;
        font-size: 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
        width: 100%;
        color: white;
        transition: all .4s;
        &:hover {
            background-color: darken(#04743C, 10%);
            cursor: pointer;
        }
    }


    .daysDesired {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        label {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            margin: 0 10px 5px 0;
            input {
                margin: 0 5px 0 0;
            }
        }
    }

    .flexEnd {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

}

.footer-form-wrap {
    background:linear-gradient( rgba(0, 0, 0, 0.75) 100%, rgba(0, 0, 0, 0.5) 100%), url("../../images/kids-laying-down.jpg");
    background-size: cover;
    background-position: 50% 25%;
    padding: 75px 0;

    @media screen and (max-width:820px) {
        padding: 50px 0;
    }

    h2 {
        text-align: center;
        font-size: 48px;
        margin-top: 0;
        color: white;
        margin-bottom: 45px;

    }
    .footer-form {
        max-width: 1300px; 
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        @media screen and (max-width:820px) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width:581px) {
            grid-template-columns: 1fr;
            grid-gap: 5px;
        }
        label, p {
            color: white;
        }
    }

    input, select, textarea {
        padding: 8px 20px;
        margin: 2px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: none;
        font-size: 16px;
        background-color: rgba(255,255,255,.65);
        &::placeholder {
            color: rgba(0,0,0,1);
        }
    }
}