header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;

    a {
        max-width: 25%;
    }

}


.city-phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    p {
        font-size: 20px;
        margin: 0;
        margin-bottom: 5px;
        color: darken(#395193, 25%);
    }
    a {
        max-width: 100%;
        text-decoration: none;
        color: #3C559A;
        // transition: all .3s;
        font-size: 20px;
        &:hover {
            color: darken(#3C559A, 15%);
        }
    }
}