.hero {
  display: flex;
  flex-direction: column;
    width: 400px;
    min-width: 400px;
    height: 475px;
    border-radius: 30px;
    overflow:hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    .img-wrap {
      overflow: hidden;
    }
    img {
      height: 100%;
      transition: all .4s;
    }
    &:hover {
      img {
        transform: scale(120%);
        // transition: all .3s;
        // overflow: hidden;
      }
      cursor: pointer;
    }
  }

  
  .hero-description-bk {
    background-image: linear-gradient(0deg , #2f60a8, #2f60a8);
    border-radius: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-description-bk h2 {
    margin: 0;
  }
  

  .hero-logo img {
    height: 100%;
  }
  
  .hero-description {
    color: #fff;
    font-weight: 900;
    left: 30px;
    bottom: 20%;
  }

  
  .hero-date {
    color: #fff;
    left: 30px;
    bottom: 10%;
  }
