.homepage-about-wrap {

    p {
        color: white;
    }

    h2 {
        font-size: 3rem;
        margin-top: 0;
        color: white;
        margin-bottom: 45px;
        font-weight: 600;
        @media screen and (max-width: 767px) {
            font-size: 2rem;
          }
    }

    background-color: #395193;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;


    .homepage-about-content {
        padding: 50px 25px;
        max-width: 1300px;
        margin: auto;
        text-align: center;
    }

}