.homepage-slider-wrap {
    height: 450px;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 700px) {
      height: 300px;
    }

    // @media screen and (max-width: 700px) {backgroundSize: cover;}

    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    // position: relative;
    right: 50%;
    width: 100vw;
    margin-bottom: 0px;

  }

  .homepage-slider-wrap > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    animation: slide 25s infinite;
    opacity: 1;
  }

  .homepage-slider-wrap div[data-testid="layer-1"] {
    // background-size: 1000px auto !important;
  }

  @media screen and (max-width: 700px) {
    .homepage-slider-wrap div[data-testid="layer-0"] {
      background-size: auto 50% !important;
      background-position: 55% 45% !important;
    }
    .homepage-slider-wrap div[data-testid="layer-1"] {
      background-size: 150px auto !important;
      margin-top: -100px;
    }
  }






  @keyframes slide {
    10% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    40% {
      transform: scale(1.2);
    }
  }









  /////////two

  .homepage-slider-wrap-two {
    min-height: 325px;
    height: 325px;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 700px) {
      height: 300px;
    }

    // @media screen and (max-width: 700px) {backgroundSize: cover;}

    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    // position: relative;
    right: 50%;
    width: 100vw;
    margin-bottom: 0px;

  }

  .homepage-slider-wrap-two > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    animation: slide 25s infinite;
    opacity: 1;
  }

  .homepage-slider-wrap-two div[data-testid="layer-0"] {
    inset: -300px 0px !important; 
  }

  @media screen and (max-width: 700px) {
    .homepage-slider-wrap-two div[data-testid="layer-0"] {
      // background-size: 200% auto !important;
      // background-position: 40% 45% !important;
    }
  }





  @keyframes slide {
    10% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    40% {
      transform: scale(1.2);
    }
  }









  /////////three

  .homepage-slider-wrap-three {
    min-height: 325px;
    height: 325px;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 700px) {
      height: 300px;
    }

    // @media screen and (max-width: 700px) {backgroundSize: cover;}

    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    // position: relative;
    right: 50%;
    width: 100vw;
    margin-bottom: 0px;

  }

  .homepage-slider-wrap-three > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    animation: slide 25s infinite;
    opacity: 1;
  }

  .homepage-slider-wrap-three div[data-testid="layer-0"] {
    inset: -300px 0px !important; 
  }

  @media screen and (max-width: 700px) {
    .homepage-slider-wrap-three div[data-testid="layer-0"] {
      // background-size: 200% auto !important;
      // background-position: 40% 45% !important;
    }
  }





  @keyframes slide {
    10% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    40% {
      transform: scale(1.2);
    }
  }