.homepage-about-wrap {

    p {
        color: white;
        font-size: 22px;

        &:first-of-type {
            &::first-letter {
                font-size: 200%;
                font-style: italic;
                font-family: cursive;
                line-height: 1;
            }
        }
    }

    h2 {
        font-size: 3rem;
        margin-top: 0;
        color: white;
        margin-bottom: 45px;
        font-weight: 600;
        @media screen and (max-width: 767px) {
            font-size: 2rem;
          }
    }
    // 3f5efb
    // background-color: #395193;
    // background-color: lighten(#395193, 15%);
    background: rgb(57,81,147);
background: linear-gradient(90deg, rgba(57,81,147,1) 0%, rgba(90,117,191,1) 75%);
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    padding: 35px 0;


    .homepage-about-content {
        padding: 25px;
        max-width: 1300px;
        margin: auto;
        text-align: center;
    }

}