@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}

@font-face {
    font-family: "Ubuntu-Regular";
    src: url("../../fonts/Ubuntu-Regular.ttf");
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Ubuntu-Regular", sans-serif;
}

.container {
    margin: auto;
    max-width: 100%;
    padding: 0 10px;
    margin-bottom: 50px;
     @include for-desktop-up {    
        max-width: 1300px; 
     }

    // font-family: sans-serif;
  }
  
.heading {
    color: #395193;
    margin: 50px 0 35px;
}

.blu {
    font-size:15px;
}

a {
    transition: all .3s;
}

.button {
    display: inline-block;
    background-color: #3C559A;
    padding: .75em 3em;
    margin: .5em 0;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    // z-index: 99;
    &:hover {
        background-color:  darken(#3C559A, 15%);
    }
}