@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}

body {margin: 0;}

.container {
    margin: auto;
    max-width: 100%;
    padding: 0 10px;
     @include for-desktop-up {    
        max-width: 1200px; 
     }

    font-family: sans-serif;
  }
  
.heading {
    color: #395193;
}

.blu {
    font-size:15px;
}
