.tuition-rates {
    display: grid;
    grid-template-columns: 1fr 1fr;

    p {
        margin: 0;
    }

    h3 {
        margin-top: 0;
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-gap: 45px;
    }
}