h1 {
    font-size: 2.75rem;
    color: #395193;
    margin: 65px 0 15px;
    @media screen and (max-width: 767px) {
        font-size: 1.75rem;
      }
}

h2 {
    margin: 45px 0 20px;
    font-size: 26px;
    color: #39934E;
    &#age {
        margin-top: 0;
        color: lighten(#395193, 20%);
    }
    @media screen and (max-width: 767px) {
        font-size: 20px;
    }
}

h3 {
    margin: 40px 0 20px;
    font-size: 23px;
    color: lighten(#000, 25%);
    @media screen and (max-width: 767px) {
        font-size: 19px;
    }
}

header.sticky {
    position: sticky;
    top: 0;
    transition: all .4s;
    width: 100%;
    background-color: white;
    height: 50px;
    padding: 10px 0;
    z-index: 999;

    a {
        max-width: 200px;
    }

    p, a {
        font-size: 14px;
    }
    .sub-menu {
        top: 31px;
    }
}



nav.sticky {
    position: sticky;
    top: 70px;
    width: 100vw;
    left: 0;
    right: 0;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;

    ul {
        padding: 0;
        width: 100%;
        &.sub-menu {
            top: 31px !important;
        }
    }

    a {
        font-size: 15px;
        padding: 0;
    }

    .sub-menu {
        top: 31px;
    }

}